body {
	background:#F5F5F3;
	font-family: "黑體-繁","Heiti TC",  "微軟正黑體", "Microsoft JhengHei", "儷黑 Pro", "LiHei Pro", "新細明體", "PMingLiU", sans-serif;
	font-size: 16px;
	color:#868580;
}

nav, h1, .audioplayer, footer {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight:normal;
}

body, div, ul, li, h1, section, header, footer, nav {
    margin: 0;
    padding: 0;
}

a {
	text-decoration:none;
	color:#868580;
}

li {
	list-style:none;
}

/* ------- 容器 ------- */

#container {
	margin: 0 auto;
	width:600px;
}


/* ------- 頁首 ------- */

header {
	margin:50px 0 120px;
	width:100%;
	height:30px;
}

#logo {
	float:left;
}

nav {
	float:right;
	margin-top:9px;
}

nav li {
	float: left;
	padding-left: 40px;
}

/* ------- 區段 ------- */

section {
	width:100%;
}

h1 {
	font-size: 21px;
	margin-bottom:10px;
}

/* 播放器 */
.audioplayer {
	width:600px;
	height:70px;
    background: #D8D1C5;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.audioplayer-playpause,
.audioplayer-current,
.audioplayer-bar,
.audioplayer-duration,
.audioplayer-volume {
	float:left;
}

/* 播放／停止按鈕 */
.audioplayer-playpause a {
	display: block;
	margin:10px 12px;
	width:50px;
	height:50px;
	background:url("Music/img/controls.png") left top;
    text-indent: -9999px;
}

.audioplayer-playing .audioplayer-playpause a {
	background:url("Music/controls.png") left bottom;
}

/* 播放時間 */
.audioplayer-current,
.audioplayer-duration {
	width:50px;
	height:100%;
	font-size:18px;
	line-height:70px;
}

.audioplayer-current {
	text-align:right;
}

/* 進度列 */
.audioplayer-bar {
	margin:16px 6px;
	width:330px;
	height:28px;
	border:solid 5px #FFF;
	background:#878681;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.audioplayer-bar .audioplayer-bar-played {
	width:100%;
	height:100%;
	
	background: -webkit-linear-gradient(top, #FF625F 0%, #FF625F 70%, #BA0501 100%);
	background: -moz-linear-gradient(top, #FF625F 0%, #FF625F 70%, #BA0501 100%);
	background: -ms-linear-gradient(top, #FF625F 0%, #FF625F 70%, #BA0501 100%);
	background: linear-gradient(top, #FF625F 0%, #FF625F 70%, #BA0501 100%);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* 音量按鈕 */
.audioplayer-volume a {
	display: block;
	margin:10px 12px;
	width:50px;
	height:50px;
	background:url("Music/img/controls.png") right top;
    text-indent: -9999px;
}

.audioplayer-muted .audioplayer-volume a {
	background:url("Music/img/controls.png") right bottom;
}

/* ------- 頁尾 ------- */

footer {
	width:100%;
	margin-top:160px;
	text-align:center;
	font-size: 11px;
}